.slide-image {
      height: 70vh; 
      width: 100vw;         
      background-size: cover;
      object-fit: cover;
      background-repeat: no-repeat;
      background-position: center;
      overflow: hidden;
}