.homepage-container {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    position: relative;
    .banner {
      position: relative;
      // background-image: linear-gradient(to right bottom, #070706f5, #26e20d2f),
      //   url("/images/image1.jpg");
      // background-size: cover;      
      // height: 70vh;
      color: #ec9819a8;    
      overflow: hidden;
      
      
      

      @media screen and (max-width: 800px) {
      }
  
      .profile-image {
        width: 270px;
        height: 270px;        
        background-size: cover;
        border: none;
        display: block;
        position: absolute;
        top: 60px;
        left: 530px;
  
        @media screen and (max-width: 800px) {
          width: 170px;
          height: 170px;
          top: 5px;
          left: 240px;
        }
        @media screen and (max-width: 400px) {
          top: 60px;
          left: 90px;
        }
      }
      .profile-text {
        font-size: 27px;
        font-weight: 700;
        color: white;
        position: absolute;
        top: 322px;
        left: 552px;
        @media screen and (max-width: 800px) {
          top: 170px;
          left: 230px;
          font-size: 20px;
          font-weight: 600;
        }
        @media screen and (max-width: 400px) {
          top: 225px;
          left: 87px;
        }
      }
    }
  
    .main-section {
      position: relative;
  
      .about-container {

        padding: 20px 40px;
        margin: 65px auto;
        width: 75%;
        border-radius: 3px;
        box-shadow: 0px 10px 10px rgba(63, 46, 46, 0.3);
        
        background-color: rgba(255, 255, 255, 0.4);
        // margin: 50px;
        @media screen and (max-width: 800px) {
          width: 90%;
          justify-content: center;
          margin: 10px auto;
        }
  
        .title {
          margin-bottom: 15px;
          margin-left: 50px;
          font-weight: 700;
          font-size: 27px;
          text-transform: capitalize;
          border-bottom: solid 2px gray;
          width: 155px;
          text-align: center;
  
          @media screen and (max-width: 800px) {
            margin-left: 40px;
          }
        }
        .content {
          display: flex;
          .image-container {
            height: 260px;
            width: 240px;
            
  
            // background-image: url("/images/image1.jpg");
            background-size: cover;
            // object-fit: cover;
            display: block;
            border-radius: 90%;
            @media screen and (max-width: 800px) {
              margin-bottom: 10px;
              width: 200px;
              height: 200px;
            }
          }
          .description {
            width: 60%;
            padding: 30px;
            @media screen and (max-width: 800px) {
              padding: 10px 0;
              width: 100%;
            }
          }
          @media screen and (max-width: 800px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
          }
        }
      
      }
    }
  }
  