#services{
    box-shadow: 0 3px 4px rgba(41, 40, 34, 0.2);    
    padding: 40px 20px;
    width: 100vw;
    margin: 10px auto;
    background-color: rgb(250, 248, 243);

    #services-content{
        width: 50%;
        margin: auto;
    }
}